<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
</head>
<body>
<header th:fragment="header" style="position: fixed;top:0;background-color: black;text-align: center;color: chartreuse;width: 100%;">
    <h1>Online Transaction System</h1>
</header>
<footer th:fragment="footer" style="position: fixed;bottom:0;background-color: black;text-align: center;color: chartreuse;width: 100%">
    <!-- Copyright -->
    <h5>© 2020 All Copyright Reserved By # RANJAN KIRTTI</h5>
    <!-- Copyright -->
</footer>
</body>
</html>