<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ReCovery</title>
    <link rel="stylesheet" href="css/acc.css">
    <link rel="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body{
            height: 100vh;
            width: 100vw;
            background:linear-gradient(#4568dc,#b06ab3);

        }
    </style>
</head>
<body>
<header th:replace="~{fragment/frag :: header}"></header>
<br><br><br><br><br>
<div style="width:800px; margin:0 auto; border: 3px solid black">
    <br>
    <h2 th:text="${keynot}"></h2>
    <form th:action="@{subrec}" method="post">
        <h2>Check Your email for RECOVERY KEY</h2>
        <input type="number" name="reckey" placeholder="Enter Recovery Key" class="form-control"><br><br>
        <input type="submit" class="btn btn-light" style="width: 100%">
    </form>
    <br><br>
</div>
<footer th:replace="~{fragment/frag :: footer}"></footer>
</body>
</html>